<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="e2e Test Execution" parallel="methods" thread-count="2">
    <test name="Chrome Browser Testing">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="in.podtest.testngcases.JIRA100">
            </class>
        </classes>
    </test>


</suite>